@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
  --primary: #c5f82aff;
  --light: #ffffff;
  --Grey700: #333333ff;
  --Grey800: #1f1f1fff;
  --dark: #141414ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: var(--dark);
  color: var(--light);
  display: flex;
  height: 100dvh;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--Grey800);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem;
  width: 420px;
  border-radius: 12px;
}

.container section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container section .img img {
  width: 160px;
  height: auto;
  border-radius: 50%;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid var(--primary);
  transition: all 1s ease;
}

.container section .img {
  display: flex;
  justify-content: center;
  margin-block-end: 30px;
}

.container section .info h1 {
  text-align: center;
  margin-block: 15px;
}

.container section .info h3 {
  text-align: center;
  color: var(--primary);
}

.container section .links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 15px;
}

.links p {
  margin-block-end: 20px;
}

.container section .links a {
  text-decoration: none;
  color: var(--light);
  background-color: var(--Grey700);
  padding: 15px 20px;
  border-radius: 8px;
  margin-block: 5px;
  width: 100%;
  font-weight: bold;
  text-align: center;
  background-image: linear-gradient(var(--primary));
  background-repeat: no-repeat;
  background-size: 100% 0%;
  transition: all 0.5s ease-in-out;
}

.container section .links a:hover {
  background-size: 100% 100%;
  scale: 1.05;
  color: var(--dark);
}

.img img:hover {
  transform: rotate3d(0, 1, 0, 360deg);
}

i {
  margin-inline-start: 5px;
}

@media (width <= 425px) {
  main {
    display: contents;
    padding: 200px;
  }
  body {
    margin: 50px auto;
    width: 100%;
  }
  .container {
    width: 90%;
    padding: 1rem;
  }
}